{% block ciqual_search_bar_widget %}
    {{ form_widget(form) }}

    <div class="ciqual_search_results">
        <h2>Results</h2>

        <table style="width: 100%" class="ciqual_search_results_table">
        </table>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            var ciqualSearchResults = $('.ciqual_search_results');
            var searchInputField = $('.ciqual_search_bar');
            var triggerSearchMinChars = {{ form.vars.trigger_search_min_chars }}
            var ciqual_research_ajax = null;

            ciqualSearchResults.hide();

            searchInputField.keyup(function () {
                var searchString = $(this).val();
                if (searchString.length >= triggerSearchMinChars) {

                    ciqual_research_ajax = $.ajax({
                        type: "GET",
                        url: '{{ path('app_ingredient_searchingredient') }}?q=' + searchString,
                        dataType: "json",
                        beforeSend: function () {
                            if (ciqual_research_ajax != null) {
                                ciqual_research_ajax.abort();
                            }
                        },
                        complete: function (response) {
                            var resultsTable = $('.ciqual_search_results_table');

                            ciqualSearchResults.show();
                            var html = '<tr>\n' +
                                '<td>Family</td>\n' +
                                '<td>Name</td>\n' +
                                '</tr>';

                            $.each(response.responseJSON, function (index, ingredient) {
                                html += createHtmlRowResultFromJSON(ingredient)
                            });

                            resultsTable.html(html);

                            $('.ingredient_show_details').click(function (event) {
                                event.preventDefault();
                                var id = $(this).attr('data-id');
                                $.ajax({
                                    type: "GET",
                                    url: Routing.generate('app_ingredient_getingredient', {id: id}),
                                    dataType: "json",
                                    complete: function (response) {
                                        alert(createHtmlIngredientDetails(response.responseJSON));
                                    }
                                });
                            });
                        }
                    });

                }
            });

            function createHtmlRowResultFromJSON(ingredient) {
                var html = '<tr>\n' +
                    '<td>' + ingredient.family + '</td>\n' +
                    '<td>' +
                    '<a href="#" class="ingredient_show_details" data-id="' + ingredient.id + '">'
                    + ingredient.name +
                    '</a>' +
                    '</td>\n' +
                    '</tr>';

                return html;
            }
            
            function createHtmlIngredientDetails(ingredient) {
                var html = '';
                $.each(ingredient.data, function (index, elem) {
                    html += index + ':' + elem + '\n';
                });

                return html;
            }
        });
    </script>
{% endblock %}